<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Projeto<sup>Invest</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('portfolio_review') }}">
            <i class="fas fa-fw fa-wallet"></i>
            <span>Carteira</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Meus Ativos:
    </div>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('analyze_my_assets') }}">
            <i class="fas fa-fw fa-balance-scale"></i>
            <span>Analisar meus ativos</span></a>
    </li>
   
    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register_transaction') }}">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span>Registrar Transações</span></a>
    </li>

        <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('transaction_review') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Consultar Transações</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Ativos Globais:
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('global_assets') }}">
            <i class="fas fa-fw fa-search-dollar"></i>
            <span>Análise de Ativos</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('charts') }}">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Gráficos de Index</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->